.lesson-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border: rgb(216, 216, 216) 1px solid;
    border-radius: 0.2rem;


}
.lesson-header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.lesson-title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.lesson-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border: rgb(216, 216, 216) 1px solid;
    border-radius: 0.2rem;
    margin-top: -2rem;
}

.lesson-complete {
    color: green;
    font-size: small;
    margin-top: 0.5rem;
}

@media (min-width: 768px) {
    .lesson-header {
        max-width: 54.5dvw;
        margin: 0 auto;
        margin-top: 1.5rem;
        flex-direction: row;
    }
    .lesson-footer {
        max-width: 54.5dvw;
        margin: 0 auto;
        flex-direction: row;
        margin-top: -1rem;
    }
}