<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tabler-icons-300.min.css') }}">
    {% block head %} {% endblock %}
</head>

<body>
    <nav class="main-nav" aria-label="Hauptnavigation">
        <div class="nav-header">
            <h1 class="nav-brand">Learning</h1>
            <a class="nav-link nav-icon-link" href="{{ url_for('app.home') }}" aria-label="Startseite"><i class="ti ti-home" aria-hidden="true"></i></a>
            <a class="nav-link" href="{{ url_for('app.courses') }}">Kurse</a>
            <div class="dropdown">
                <button class="dropbtn">Favoriten</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
        </div>
        <div class="nav-header">
            <a class="nav-link nav-icon-link" href="{{ url_for('auth.login') }}" aria-label="Profil"><i class="ti ti-user" aria-hidden="true"></i></a>
            <a class="nav-link nav-icon-link" href="{{ url_for('app.home') }}" aria-label="Einstellungen"><i class="ti ti-settings" aria-hidden="true"></i></a>

        </div>
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>